<div mat-dialog-title>{{title}}</div>

<form #editForm="ngForm" ngNativeValidate>
  <mat-dialog-content>

    <div>
      <div fxLayout="column" fxLayoutGap.gt-sm="24px">
        <div class ="readOnlyLabel" *ngIf="id > 0">
          Status ID: {{data.statusID}}
        </div>
        <mat-form-field fxFlex>
          <mat-label>Status Name</mat-label>
          <input type="text" maxlength = "50" autocomplete="off" [(ngModel)]="data.statusName" name="StatusName" matInput required>
        </mat-form-field>

      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row"  fxLayoutAlign="end end" >
    <button (click)="save()" mat-raised-button color="primary">Save </button>
    <button (click)="cancel()" mat-raised-button>Cancel</button>
  </mat-dialog-actions>
</form>